<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>YGO calculator</title>
  <link rel="stylesheet" href="/assets/css/count.css">
</head>

<body>

<div class="head">
<div class="font" id="player1">8000</div>
<div class="font"> <div id="viewer" class="viewer">0</div></div>

<div class="font" id="player2">8000</div>
</div>

<div>

<div id="calculator" class="calculator">

  <%# <button id="clear" class="clear">C</button> %>

  <%# <div id="viewer" class="viewer">0</div> %>
  <%# <button class="num" data-num="＋">＋</button>   %>
  <button data-ops="plus" class="num ops">+</button>
   <button data-ops="minus" class="num ops">-</button>
  <button class="num" data-num="/2">÷2</button>
  <button class="num" data-num="7">7</button>
  <button class="num" data-num="8">8</button>
  <button class="num" data-num="9">9</button>
  <%# <button data-ops="plus" class="ops">+</button> %>

  <button class="num" data-num="4">4</button>
  <button class="num" data-num="5">5</button>
  <button class="num" data-num="6">6</button>
  <%# <button data-ops="minus" class="ops">-</button> %>

  <button class="num" data-num="1">1</button>
  <button class="num" data-num="2">2</button>
  <button class="num" data-num="3">3</button>
  <%# <button data-ops="times" class="ops">*</button> %>

  <button class="num cut2" data-num="0">0</button>
  <%# <button class="num" data-num=".">.</button> %>
  <%# <button id="equals" class="equals" data-result="">=</button> %>
  <%# <button data-ops="divided by" class="ops">/</button> %>
  <button class="num cut2" data-num="00">00</button>

    <button class="sarch" data-num="00">ダイス</button>
      <button class="sarch" data-num="00">カード検索</button>
        <button class="sarch" data-num="00">対戦履歴</button>

</div>

<button id="reset" class="reset">Reset Universe?</button></div>

 <button id="clear" class="clear">C</button>
  <script type="text/javascript" src="assets/calculator.js"></script>

</body>
</html>
